@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    background: hsl(212, 45%, 89%);
}

.qr-solution{
    width: 400px;
    height: 600px;
    margin:5% auto;
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background: hsl(0, 0%, 100%);
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

.text-container{
    text-align: center;
}

.text-container > h2{
    font-family: Outfit, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.text-container > p{
    font-family: Outfit, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

@media screen and (max-width: 992px) {
    body{
        padding: 0;
        margin: 0;
    }

    img{
        width: 300px;
        height: 300px;
    }

    .qr-solution{
        margin: 10% auto;
        width: 300px;
        height: 550px;
        padding: 0px 30px;
    }
}